<div class="registration-wrapper">
    <form class="registration-form" [formGroup]="registrationForm">
        <mat-form-field class="userName" appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter your name" name="userName" formControlName="userName"
                [(ngModel)]="userName">
            <mat-error class="control-error">
                <app-error-message [control]="this.registrationForm.controls['userName']"></app-error-message>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="password" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" value="" name="pass" formControlName="pass"
                type="password" [(ngModel)]="pass">
            <mat-error class="control-error">
                <app-error-message [control]="this.registrationForm.controls['pass']"></app-error-message>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="confirmPass" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Confirm your password" value="" name="confirmPass"
                formControlName="confirmPass" type="password" [(ngModel)]="confirmPass">
            <mat-error class="control-error">
                <app-error-message [control]="this.registrationForm.controls['confirmPass']"></app-error-message>
            </mat-error>
        </mat-form-field>
        <div class="error">
            <app-error-message [form]="this.registrationForm"></app-error-message>
        </div>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
    </form>

    <div class="register">
        <div class="text">Do you already have an account?</div>
        <button mat-stroked-button (click)="goToLoginPage()">Login now</button>
    </div>

</div>