.registration-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .registration-form {
    width: 300px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    margin: 16px auto;
    position: relative;
  }

  .register {
    margin: 0 auto;
    text-align: center;
  }

  .error {
    font-size: 10.5px;
    position: absolute;
    bottom: 48px;
    color: #f44336;
    padding: 0 1em;
  }  

  button {
    margin-top: 1rem;
  }
}

.registration-button-wrapper {
  text-align: end;

  .registration-button {
    margin: 16px;
  }
}