<h2>Employees:</h2>

<div class="user-cards">
    <ng-container *ngFor="let user of users">
        <div class="user-card" [hidden]="!user.activated && isHidden">
            <mat-card>
                <div class="employee-name">
                    <span class="employee-name-title">Name: </span>{{ user.name }}
                </div>
                <div class="employee-age">
                    <span class="employee-age-title">Age: </span>{{ user.age }}
                </div>
                <div class="employee-is-activated">
                    <span class="employee-is-activated-title">Activated: </span>{{ user.activated }}
                </div>
                
                <button 
                    mat-stroked-button color="warn" 
                    class="button" 
                    [disabled]="!user.activated" 
                    (click)="toggleCard(user)">
                    Deactivate
                </button>
            </mat-card>
        </div>
    </ng-container>
</div>
<button 
    mat-stroked-button color="primary" 
    class="button"
    (click)="hideIfNonActiveCard()">
    Hide *ngIf
</button>
<button 
    mat-stroked-button color="warn" 
    class="button" 
    (click)="hideHiddenCard()"
    >
    Hide [hidden]
</button>
