/* .users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .mat-sidenav {
    width: 320px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    .favorite-title {
      margin: 1rem;
    }
  }
.users-container {
    text-align: center;
}

} */


.favorite-wrapper {
    width: 300px;

    .favorite-title {
        font-size: 20px;
        font-weight: 500;
        margin: 1rem;
        text-align: center;
    }
}
