<span class="user-name">{{ userName }}</span>

<div class="button-wrapper">
    <div class="button-container">
        <button id="create" mat-button color="primary" routerLink="/create-user" routerLinkActive="activebutton">Create User</button>
        <button id="users" #users mat-raised-button color="accent" routerLink="/users" routerLinkActive="activebutton">Users</button>
        <button id="cars" mat-raised-button color="warn" routerLink="/cars" routerLinkActive="activebutton">Cars</button>
    </div>
</div>

