<form id="userForm" #createUserForm [formGroup]="userForm">
    <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput name="firstName" formControlName="firstName" type="text" placeholder="Illy" />
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['firstName'].hasError('required')" class="control-error">
            This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput name="lastName" formControlName="lastName" type="text" placeholder="Thompson" />
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['lastName'].hasError('required')" class="control-error">
            This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" formControlName="email" type="text" placeholder="user@user.info" />
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['email'].hasError('required')" class="control-error">This
            field is required</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['email'].hasError('email')" class="control-error">This
            field is not an email</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['email'].hasError('notGoogle')" class="control-error">{{
            this.userForm.controls['email'].getError('notGoogle') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput name="age" formControlName="age" type="number" placeholder="Ex. 19" min="18" max="130" />
        <span matSuffix>years</span>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['age'].hasError('required')" class="control-error">This
            field is required</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['age'].hasError('min')" class="control-error">Minimum
            value - {{ this.userForm.controls['age'].getError('min').min }} years</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['age'].hasError('max')" class="control-error">Maximum
            value - {{ this.userForm.controls['age'].getError('max').max }} years</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input type="text" matInput name="companyName" #companyName formControlName="companyName" maxlength="35" placeholder="Apple" />
        <mat-hint align="end">{{companyName.value.length}} / 35</mat-hint>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['companyName'].hasError('required')" class="control-error">
            This field is required</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['companyName'].hasError('maxlength')" class="control-error">
            Maximum length - {{ this.userForm.controls['companyName'].getError('maxlength').requiredLength }} characters
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <input type="text" matInput formControlName="department" placeholder="Information Security">
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['department'].hasError('required')" class="control-error">
            This field is required</mat-error>
        <mat-error *ngIf="isInvalidForm && this.userForm.controls['department'].hasError('minlength')"
            class="control-error">Minimum length - {{
            this.userForm.controls['department'].getError('minlength').requiredLength }} characters</mat-error>
    </mat-form-field>

    <span class="user-gender">Choose gender:
        <mat-slide-toggle name="gender" formControlName="gender" [ngModel]="gender">
            {{ this.userForm.value['gender'] ? 'Male' : 'Female' }}
        </mat-slide-toggle>
    </span>
</form>