<section [formGroup]="formGroupAddress">
    <mat-form-field class="example-full-width textarea-wrapper" appearance="fill">
        <mat-label>Address Line</mat-label>
        <textarea matInput formControlName="addressLine" placeholder="Ex. 100 Main St"></textarea>
    </mat-form-field>
    <table cellspacing="0">
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city" placeholder="Ex. San Francisco">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Zip</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" formControlName="zip">
                </mat-form-field>
            </td>
        </tr>
    </table>
</section>