<h2>Create user</h2>

<form id="createUserForm" [formGroup]="createUserForm" novalidate  (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput name="firstName" formControlName="First name" type="text" placeholder="Illy" />
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput name="lastName" formControlName="Last name" type="text" placeholder="Thompson" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput name="age" formControlName="Age"  type="number" placeholder="Ex. 19" min="18" max="130" />
        <span matSuffix>years</span>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput name="company" formControlName="Company" type="text" placeholder="Apple" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <input matInput name="department" formControlName="Department" type="text" placeholder="Information Security" />
    </mat-form-field>
<button mat-stroked-button color="primary" [disabled]="createUserForm.invalid">Create</button> 
</form>



<!-- 
<div class="create-user-form">
    <h2>Create user</h2>

    <form class="create-user" [formGroup]="options">
        <div class="user-name">
            <mat-form-field appearance="fill" [color]="colorControl.value">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Illy" />
            </mat-form-field>
    
            <mat-form-field appearance="fill" [color]="colorControl.value">
                <mat-label>Last name</mat-label>
                <input matInput type="text" placeholder="Thompson" />
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" [color]="colorControl.value">
            <mat-label>Age</mat-label>
            <input matInput type="number" placeholder="Ex. 19" [formControl]="ageControl" min="18" />
            <span matSuffix>years</span>
            <mat-error *ngIf="ageControl.invalid">Min: 18 years old</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [color]="colorControl.value">
            <mat-label>Company</mat-label>
            <input matInput type="text" placeholder="Apple" />
        </mat-form-field>

        <mat-form-field appearance="fill" [color]="colorControl.value">
            <mat-label>Department</mat-label>
            <input matInput type="text" placeholder="Information Security" />
        </mat-form-field>
    </form>

</div>

<button mat-stroked-button color="primary">Create</button> 
 -->