.users {
  h2 {
    text-align: center;
  }

  .user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .mat-sidenav {
    width: 320px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;

    .sidebar-title {
      margin: 1rem;
    }
  }
}