<app-users-shell></app-users-shell>
<!-- <div class="users">
    <mat-sidenav-container>
        <div class="user-cards">
            <ng-container *ngFor="let user of users">
                <app-card #userCard [card]="user">
                </app-card>
            </ng-container>
        </div>

        <mat-sidenav opened mode="side" position="end">
            <div class="favorite-title">
                Favorite:
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div> -->