<div class="users">
    <h2>{{ usersHeader }}</h2>

    <hr>
    <hr>

    <mat-sidenav-container>
        <div class="user-cards">
            <ng-container *ngFor="let user of users">
                <app-user #userCard [user]="user">
                </app-user>
            </ng-container>
        </div>

        <mat-sidenav opened mode="side" position="end">
            <div class="sidebar-title">
                Favorite:
            </div>
        </mat-sidenav>
    </mat-sidenav-container>


    <hr>
    <hr>
</div>