h2 {
    display: block;
    padding-top: 2rem;
    text-align: center;
}

.card-block-wrapper {
    .cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    }


    .button {
    margin: 0 1rem;
    }
}
