<div class="card-block-wrapper">
    <h2>{{ cardModuleTitle }}</h2>
    <div class="cards-wrapper">
        <div *ngFor="let iterCard of employees" class="card-container">
            <app-card *ngIf="showAll || showOnlyActivated && iterCard.activated" [card]="iterCard">
            </app-card>
        </div>    
    </div>
    <button 
        mat-stroked-button color="primary" 
        class="button"
        (click)="hideIfNonActiveCard()">
        Hide *ngIf
    </button>
    <button 
        mat-stroked-button color="warn" 
        class="button"
        (click)="hideHiddenCard()">
        Hide [hidden]
    </button>
</div>


<hr><hr>
<div class="input-wrapper">
    <h2>{{ inputModuleTitle }}</h2>
    <app-input></app-input>
</div>