<nav>
    <!-- <a class="button" routerLink="/create-user" routerLinkActive="activebutton">Create User</a> |
        <a class="button" routerLink="/users" routerLinkActive="activebutton">Users</a> |
        <a class="button" routerLink="/cars" routerLinkActive="activebutton">Cars</a> -->
        
    <button mat-button color="primary" routerLink="/create-user" routerLinkActive="activebutton">Create User</button>
    <button mat-raised-button color="accent" routerLink="/users" routerLinkActive="activebutton">Users</button>
    <button mat-raised-button color="warn" routerLink="/cars" routerLinkActive="activebutton">Cars</button>
</nav>