.home-wrapper {
  display: table-cell;
  height: 90vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  line-height: 2;

  .auth-name {
    font-weight: bold;
  }
}

.user-name {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ff4500;
  font-weight: bold;
  font-size: 22px;
}
