<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <ng-content select=".title"></ng-content>
            <button mat-icon-button aria-label="preview" (click)="previewUser()">
                <mat-icon>preview</mat-icon>
            </button>    
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ imageUrl }}" alt="Photo">

    <mat-card-content>
        <mat-list>
            <ng-content select=".cardContent"></ng-content>
        </mat-list>
    </mat-card-content>

    <div class="button-block">
        <button mat-icon-button aria-label="heart" [class.mat-warn]="isLike" (click)="toggleLike()">
            <mat-icon>favorite</mat-icon>
        </button>
    
        <button mat-icon-button aria-label="edit" (click)="editUser()">
            <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button aria-label="export" (click)="exportUser()">
            <mat-icon>ios_share</mat-icon>
        </button>

        <button mat-icon-button aria-label="export" (click)="saveUser()">
            <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button aria-label="export" (click)="sendOnlyFirstRequest()">
            <mat-icon>plus_one</mat-icon>
        </button>
    </div>

</mat-card>