<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <ng-content select=".title"></ng-content>
        </mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ imageUrl }}" alt="Photo">

    <mat-card-content>
        <mat-list>
            <ng-content select=".cardContent"></ng-content>
        </mat-list>
    </mat-card-content>

    <div class="button-block">
        <button mat-icon-button aria-label="heart" [class.mat-warn]="isLike" (click)="toggleLike()">
            <mat-icon>favorite</mat-icon>
        </button>
    
        <button mat-icon-button aria-label="edit" (click)="editUser()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

</mat-card>