#createUserForm {
    display: flex;
    flex-direction: column;

    .mat-form-field {
        width: 300px;
    }

    .user-gender {
        margin-bottom: 1rem;

        .mat-slide-toggle {
            padding-left: 0.5rem;
        }
    }
}