<div class="user-card">
    <mat-card>
        <div class="employee-name">
            <span class="employee-name-title">Name: </span>{{ card.name }}
        </div>
        <div class="employee-age">
            <span class="employee-age-title">Age: </span>{{ card.age }}
        </div>
        <div class="employee-is-activated">
            <span class="employee-is-activated-title">Activated: </span>{{ card.activated }}
        </div>
        <button 
            mat-stroked-button color="warn" class="button" 
            [disabled]="!card.activated"
            (click)="toggleCard()">
            Deactivate
        </button>
    </mat-card>
</div>