.user-card {
    width: 300px;
    margin: 1rem;
    font-size: 18px;

    .employee-name-title,
    .employee-age-title,
    .employee-is-activated-title {
        font-weight: 600;
    }

    .button {
        margin: .5rem 0;
    }
}